dl {
  display: flex;
  justify-content: space-between;

  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;

  border-bottom: 1px solid #dee2e6;

  &:last-of-type {
    margin-bottom: 0;
  }

  dd {
    text-align: right;
    margin-bottom: 0;
  }
}
