<div class="page h-100 d-flex flex-column" *ngIf="isMapVisible">
  <nav class="navbar navbar-expand-xl navbar-light">
    <div class="navbar-brand mr-4">
      <img
        src="assets/feuerwehr_fine_106x38.png"
        alt="Feuerwehr Fredersdorf-Vogelsdorf"
        style="width: 106px; height: 38px"
      />
    </div>

    <button
      class="navbar-toggler"
      type="button"
      (click)="isNavbarOpen = !isNavbarOpen"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="!isNavbarOpen">
      <form
        class="form-inline mr-auto my-3 my-xl-0 d-flex flex-column flex-lg-row align-items-start align-items-lg-center"
        (ngSubmit)="highlightFilteredHydrants()"
      >
        <div>Hydranten in Karte hervorheben:</div>

        <div class="input-group my-2 my-lg-0 mx-lg-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Referenz startet mit</span>
          </div>

          <input
            #highlightFilterStringInput
            class="form-control"
            type="text"
            placeholder="z.B. N01-, S01- oder 01-"
            name="highlightFilterString"
            [(ngModel)]="highlightFilterString"
            (keyup)="updateFilteredHydrants()"
          />
        </div>

        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!isHighlightButtonEnabled"
        >
          {{ highlightButtonText }}
        </button>
      </form>

      <hr class="d-block d-xl-none" />

      <!-- <button
        class="btn btn-outline-primary mb-2 mb-xl-0"
        type="button"
        (click)="startPdfCreation()"
      >
        PDF erstellen
      </button> -->
    </div>
  </nav>

  <div class="page-body flex-grow-1">
    <app-map
      [hydrants]="hydrants"
      [higlightedHydrants]="highlightedHydrants"
    ></app-map>
  </div>
</div>

<div
  class="loading-spinner h-100 d-flex justify-content-center align-items-center"
  *ngIf="isLoading"
>
  <div class="text-center">
    <div class="loading-spinner__spinner spinner-grow text-primary"></div>
    <div class="loading-spinner__label pt-2">Wird geladen...</div>
  </div>
</div>
