<div
  class="leaflet-map"
  leaflet
  [leafletOptions]="mapOptions"
  [leafletLayers]="hydrantLayers"
  [leafletFitBounds]="fitBounds!"
  (leafletMapReady)="onMapReady($event)"
></div>

<ng-container *ngIf="isGeolocationEnabled">
  <leaflet-locate-control
    [options]="locateControlOptions"
    [map]="mapInstance!"
  ></leaflet-locate-control>
</ng-container>

<!-- Insert the <style>-element to highlighted the filtered tootlips into this <div> -->
<div [innerHTML]="customTooltipsStyleElement"></div>
